@page "/CCategorias"

@inject IToastService toast

@using BLL

<div class="card-img">
    <div class="card-header">
        <h1>Consulta de categorias</h1>
    </div>

    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label>Filtro</label>
                    <select class="form-control mr-3" @bind="Filtro">
                        <option value="0">Todo</option>
                        <option value="1">Categoria ID</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="Criterio" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar())"><i class="oi oi-list-rich" /> Consultar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Categoria Id</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in categoriaList)
                        {
                            <tr>
                                <td>@item.CategoriaId</td>
                                <td>@item.Nombre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@code
{
    public List<Categorias> categoriaList { get; set; }

    [Inject]
    public CategoriasBLL categoriasBLL { get; set; }

    private DateTime Desde { get; set; } = DateTime.Now;
    private DateTime Hasta { get; set; } = DateTime.Now;

    public string Filtro { get; set; }
    private string FiltroFecha { get; set; }

    public string Criterio { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        categoriaList = new List<Categorias>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    public async Task Consultar()
    {
        int id;
        int.TryParse(Criterio, out id);
        switch (Filtro)
        {
            case "0": //Todo
                categoriaList = await categoriasBLL.GetList(c => true);
                break;
            case "1":
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        categoriaList =await categoriasBLL.GetList(c => c.CategoriaId == id);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    categoriaList = await categoriasBLL.GetList(c => true);
                }
                break;
        }

       
    }
}