@page "/"

@using BLL


<AuthorizeView>
    <Authorized>
        <h1>Bienvenido a compra & ventas de productos!</h1>
        <div>
            <p>Hola @(context.User.Identity.Name)!</p>    
        </div>
        <div>
            <p>Puede crear sus registros y consultar estos registros en está versión. Pronto habrá mejoras</p>
        </div>

    </Authorized>
    <NotAuthorized>
        <h1>Bienvenido a compra & ventas de productos!</h1>

        Debe <a href="Identity/Account/Register">Registrarse</a>, o puede <a href="Identity/Account/Login">Iniciar sesión</a> para crear registros.

    </NotAuthorized>
</AuthorizeView>

@code
{
    [Inject]
    public UsuariosBLL usuarios { get; set; }

    List<Usuarios> Lista = new List<Usuarios>();

    protected override void OnInitialized()
    {
        Lista = new List<Usuarios>();
    }

    public async Task Consultar()
    {
        Lista = await usuarios.GetList(c => true);
    }
}
    
