@page "/compras"

@inject AuthenticationStateProvider Authentication

@inject IToastService Toast

@using BLL

<EditForm Model="compra" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>
                    Registro compras
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                    </svg>
                </h3>
            </div>

            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Compra ID</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="compra.CompraId" class="form-control col-3" />
                            <div class="input-group-append">
                                <button type="button" @onclick="Buscar" class="btn btn-outline-primary input-group-text">
                                    Buscar
                                    <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha</label>
                        <input type="date" @bind="compra.Fecha" class="form-control col-8" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Suplidor</label>
                        <select @bind="compra.SuplidorId" class="form-control">
                            <option value="0" disabled selected>Seleccione un suplidor</option>
                            @foreach (var item in SuplidorList)
                            {
                                <option value="@item.SuplidorId">@item.Nombres</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Producto</label>
                        <select @bind="ProductoId" class="form-control">
                            <option value="0" disabled selected>Seleccione un producto</option>
                            @foreach (var item in ProductoList)
                            {
                                <option value="@item.ProductoId">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Costo/Unidad</label>
                        <InputNumber @bind-Value="costo" class="form-control"/>
                    </div>
                        <div class="form-group col-md-3">
                            <label>Cantidad</label>
                            <div class="input-group">
                                <input type="number" @bind="cantidad" class="form-control" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary input-group-text" @onclick="Agregar">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-bordered text-wrap">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Suplidor ID</th>
                                    <th>Producto ID</th>
                                    <th>Cantidad</th>
                                    <th>Costo/Unidad</th>
                                    <th>Monto</th>
                                    <th>ITBIS</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                @if (compra.Detalle != null)
                                {
                                    @foreach (var item in compra.Detalle)
                                    {
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>500</td>
                                        <td>20</td>
                                        <td>10000</td>
                                        <td>0</td>
                                    </tr>
                                    }
                                }else
                                {
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-inline justify-content-end">
                        <label class="col-1">SubTotal</label>
                        <InputNumber @bind-Value="subTotal" class="form-control col-2 text-right" readonly />
                    </div>

                    <div class="form-inline justify-content-end">
                        <label class="col-1">ITBIS</label>
                        <InputNumber @bind-Value="TITBIS" class="form-control col-2 text-right" readonly />
                    </div>

                    <div class="form-inline justify-content-end">
                        <label class="col-1">Total</label>
                        <InputNumber @bind-Value="compra.Total" class="form-control col-2 text-right" readonly />
                    </div>

                </div>
            <div class="card-footer">
                <div class="form-group text-center">
                    <button type="button" @onclick="Nuevo" class="btn btn-outline-primary">
                        Nuevo
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                            <path fill-rule="evenodd" d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </button>
                    <button type="submit" class="btn btn-outline-success">
                        Guardar
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                    <button type="button" @onclick="Eliminar" class="btn btn-outline-danger">
                        Eliminar
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                            <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    Compras compra = new Compras();

    [Inject]
    public SuplidoresBLL suplidoresBLL { get; set; }

    [Inject]
    public ProductosBLL productosBLL { get; set; }

    [Inject]
    public ComprasBLL comprasBLL { get; set; }

    int ProductoId;
    float cantidad, costo, subTotal, TITBIS, Total;

    List<Productos> ProductoList = new List<Productos>();
    List<Suplidores> SuplidorList = new List<Suplidores>();

    protected override async Task OnInitializedAsync()
    {
        await Nuevo();
    }

    public async Task Nuevo()
    {
        compra = new Compras();
        compra.Fecha = DateTime.Now;
        ProductoList = await productosBLL.GetList(p => true);
        SuplidorList = await suplidoresBLL.GetList(p => true);
    }

    public async Task Buscar()
    {
        var Compra = await comprasBLL.Buscar(compra.CompraId);

        if (Compra != null)
            compra = Compra;
        else
        {
            Toast.ShowError("Compra no encontrada");
            await Nuevo();
        }
    }

    public async Task Agregar()
    {
        var producto = await productosBLL.Buscar(ProductoId);
        subTotal = cantidad * costo;
        TITBIS = subTotal * (producto.ITBIS / 100);

        compra.Detalle.Add(new ComprasDetalle
        {
            CompraId = compra.CompraId,
            ProductoId = ProductoId,
            Cantidad = cantidad,
            Costo_Unidad = costo,
            Monto = subTotal,
            ITBIS = TITBIS
        });

        compra.Total += (subTotal + TITBIS);
        producto.Cantidad += cantidad;
        producto.Costo_Unidad = costo;
        await productosBLL.Guardar(producto);
        Actualizar();
    }

    private void Actualizar()
    {
        cantidad = 0;
        ProductoId = 0;
        subTotal = 0;
        TITBIS = 0;
        costo = 0;
    }

    public async Task Guardar()
    {
        bool Guardado;

        Guardado = await comprasBLL.Guardar(compra);

        if (Guardado)
        {
            await Nuevo();
            Toast.ShowSuccess("Guardado correctamente");
        }
        else
            Toast.ShowError("No fue posible guardar");
    }

    public async Task Eliminar()
    {
        bool Eliminado = false;

        Eliminado = await comprasBLL.Eliminar(compra.CompraId);

        if (Eliminado)
        {
            await Nuevo();
            Toast.ShowSuccess("Eliminado correctamente");
        }
        else
            Toast.ShowError("No fue posible eliminar");
    }
}
